#footer {
  padding: 20px;
  background: #222831;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  img {
    width: 200px;
  }
  a {
    display: block;
    padding-left: 15px;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    color: #eeeeee;
    font-weight: bold;
  }
}

@media screen and (max-width: 375px) {
  #footer {
    position: static;
  }
}

@media screen and (min-height: 800px) {
  #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
